---
---

@import "{{ site.theme }}";

body {font-family: arial;}

header {
	padding: 15px 20px 30px 20px;
	background: #fcfcfc;
	min-height: 50px;
	h1 {
		color: #000000;
		text-shadow: 0px 2px 2px #bbbbbb;
	}
	p {
		color: #000000;
	}
}

section {
	width: 760px;
	margin-top: 150px;
	background: #fcfcfc;

}

.wrapper {
	width: 830px;
	position:relative;
}

nav {
	top: 150px;
	margin-left: -710px;
}

#banner {
	background: #f3f3f3;
	border: 0px;
	width: 100%;
	top: 85px;
	.button {
		border: 1px solid #000000;
		background: #eeeeee;
		color: #eeeeee;
		background-color: #eeeeee;
		&:hover {
			background: #ffffff;
			background-color: #ffffff;
		}
	}
	&:hover {
		background: #f3f3f3;
	}
	.downloads {
		float: left;
		margin-left: 50%;
	}
	ul {
		margin-left: -420px;
		li {
			a.button {
				background-color: #eeeeee;
			}
		}
	}
}

footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left:auto;
    bottom:auto;
    width:auto;
}

@media print, screen and (max-width: 1060px) {
#banner {
	.downloads {
		float: right;
		margin-right: 60px;
	}
}
}


